* {
    margin: auto;
    padding: 10px;
}

body {
    max-width: 1024px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_info {
    background-color: blanchedalmond;
    display: flex;
}

ul {
    list-style-type: none;
}

h2 {
    text-align: center;
}

h4 {
    text-align: center;
    padding: 0%;
}

p {
    text-align: justify;
}

.profile_pic {
    border-radius: 50%;
    width: 300px;
}

progress {
    height: 30px;
}

.icon {
    height: 40px;
}

.icon_dist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0;
}

.hobbies_dist {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0;
}

.body_info {
    display: flex;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

.left_bar {
    width: 25%;
    background-color: blanchedalmond;
}

/*.skills {
    background-color: beige;
}

.hobbies {
    background-color: azure;
}

.languages {
    background-color: bisque;
}*/

.content_right {
    width: 75%;
    margin: 0;
}

/*.profile {
    background-color: aliceblue;
}

.education {
    background-color: antiquewhite;
}

.experience {
    background-color: aqua;
}

.softwares {
    background-color: cornsilk;
}*/

.otras_hab {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

/*#webdev {
    background-color: brown;
    width: ;
}
#auvis {
    background-color: blueviolet;
}
#graph {
    background-color: chocolate;
}
#intr {
    background-color: crimson;
}*/